

.section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 10px;
}

.section > div {
    border: 1px solid black;
}
.section > div:hover {
    cursor: pointer;
}

.disabled {
    background-color: grey;
}
.booked {
    background-color: #19a0d9;
}

.section .disabled:hover {
    cursor: not-allowed;
}

button {
    margin-top: 10px;
}

.section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: min-content;
    padding: 15px 0px 10px 15px;
    background-color: darkslategrey;
}

.section > div {
    background-image: url(../assets/chair_black_24dp.svg);
    border: 1px solid black;
    height: 60px;
    border-radius: 4px;
    width: 70px;
    text-align: center;
    line-height: 47px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: center;
    background-blend-mode: soft-light;
    margin-right: 15px;
}
.section > div:hover {
    cursor: pointer;
}

.disabled {
    background-color: lightpink;
}
.booked {
    background-color: lightgreen;
}

.section .disabled:hover {
    cursor: not-allowed;
}

button {
    margin-top: 10px;
}

.margin-left10 {
    margin-left: 20px;
}